/*contact page start*/

.common-bg-main {
    background-image: url(../images/common-bg.png);
    background-size: cover;
    padding-top: 80px !important;
}

.contact-us .contact-detail {
    position: relative;
    z-index: 2;
    max-width: 450px;
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    margin-right: -80px;
    box-shadow: 0px 12px 15px rgb(0 0 0 / 16%);
}

.contact-us .contact-detail::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: url(../images/diamond.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    z-index: -1;
    opacity: .08;
}

.contact-us .contact-detail .title {
    font-size: 24px;
}

.contact-us .contact-inner-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .contact-detail .message {
    font-weight: 400;
    color: #353535;
    font-size: 18px;
    margin-top: 20px;
}

.contact-us .contact-detail .list {
    list-style-type: none;
    margin: 40px 0;
}

.contact-us .contact-detail .list li {
    position: relative;
    padding: 12px 0 12px 50px;
    min-height: 42px;
}

.contact-us .contact-detail .list li+li {
    margin: 18px 0 0 0;
}

.contact-us .contact-detail .list .add {
    padding: 0 0 0 50px;
}

.contact-us .contact-detail .list li a {
    font-weight: 400;
    color: #353535;
    font-size: 16px;
}

.contact-us .contact-detail .list li span {
    color: #353535;
    font-size: 16px;
}

.contact-us .contact-detail .list li p {
    font-weight: 400;
    color: #353535;
    font-size: 16px;
}

.contact-us .contact-detail .list li i {
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    width: 35px;
    background: #002D46;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    float: left;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
}

.contact-us .con-form {
    position: relative;
    z-index: 1;
    top: 4px;
    background: #f9f9f9;
    max-width: 500px;
    padding: 40px 40px 40px 100px;
    box-shadow: 0px 12px 15px rgb(0 0 0 / 16%);
    border-radius: 12px;
}

.contact-us .con-form .dropdown-toggle {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgb(0 33 52 / 50%);
}

.r-btn {
    margin: 20px auto 0;
}

.r-btn .primary_button {
    margin: 0 auto;
    min-width: 200px;
}

.map iframe {
    width: 100%;
    height: 400px;
}

@media(min-width:1200px) {
    .contact-us .contact-detail .list li a:hover {
        color: #cbb58c;
    }
}

@media(max-width:991px) {
    .contact-us .contact-inner-main {
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 12px 15px rgb(0 0 0 / 16%);
        padding: 40px 30px;
        border-radius: 4px;
    }
    .contact-us .form-main {
        max-width: 100%;
        padding: 20px;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }
    .contact-us .contact-detail {
        max-width: 100%;
        margin: 0 0 20px 0;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }
    .contact-us .contact-detail .message {
        font-size: 14px;
    }
    .contact-us .con-form .common-title {
        padding-bottom: 20px;
    }
    .contact-us .con-form .common-title .section-title {
        margin-bottom: 0;
    }
    .contact-us .contact-detail .list {
        margin: 20px 0;
    }
    .contact-us .contact-detail .list li p {
        font-size: 14px;
    }
    .contact-us .contact-detail .list li a {
        font-size: 14px;
    }
}

@media(max-width:767px) {
    .contact-us .contact-inner-main {
        padding: 35px 15px;
    }
    .contact-us .contact-detail .common-logo-box {
        margin: -70px auto 20px;
    }
}


/*contact page end*/


/* site map */

.sitemap ul li {
    width: 25%;
    float: left;
    margin-bottom: 30px;
    position: relative;
    padding: 8px 0 8px 50px;
}

.sitemap ul li:nth-child(4n+1) {
    clear: both;
}

.sitemap ul li a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url(../images/site.png);
    width: 40px;
    height: 41px;
}

.sitemap ul li ul {
    margin-top: 20px;
}

.sitemap ul li ul li {
    width: 100%;
    padding: 0 0 0 30px;
    margin-bottom: 10px;
    position: relative;
}

.sitemap ul li ul li:last-child {
    margin-bottom: 0;
}

.sitemap ul li ul li a:before {
    background-image: none;
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #ed1b24;
}

.sitemap ul li a {
    color: #000;
    font-size: 18px;
}

.sitemap ul li ul li a {
    font-size: 15px;
}

@media (min-width:1199px) {
    .sitemap ul li a:hover {
        color: #ed1b24;
    }
    .sitemap ul li a:hover:before {
        animation: rotation 1s infinite linear;
        -webkit-animation: rotation 1s infinite linear
    }
    .sitemap ul li ul li a:hover:before {
        animation: none;
    }
}

@media (max-width:991px) {
    .sitemap ul li {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width:767px) {
    .sitemap ul li a {
        font-size: 16px;
    }
    .sitemap ul li ul li {
        margin-bottom: 5px;
    }
}

@media (max-width:479px) {
    .sitemap ul li {
        width: 100%;
    }
}

@keyframes rotation {
    0% {
        -ms-transform: rotate(0) translate(0);
        -moz-transform: rotate(0) translate(0);
        -webkit-transform: rotate(0) translate(0);
        -o-transform: rotate(0) translate(0);
        transform: rotate(0) translate(0);
    }
    100% {
        -ms-transform: rotate(360deg) translate(0);
        -moz-transform: rotate(360deg) translate(0);
        -webkit-transform: rotate(360deg) translate(0);
        -o-transform: rotate(360deg) translate(0);
        transform: rotate(360deg) translate(0);
    }
}

@-webkit-keyframes rotation {
    0% {
        -ms-transform: rotate(0) translate(0);
        -moz-transform: rotate(0) translate(0);
        -webkit-transform: rotate(0) translate(0);
        -o-transform: rotate(0) translate(0);
        transform: rotate(0) translate(0);
    }
    100% {
        -ms-transform: rotate(360deg) translate(0);
        -moz-transform: rotate(360deg) translate(0);
        -webkit-transform: rotate(360deg) translate(0);
        -o-transform: rotate(360deg) translate(0);
        transform: rotate(360deg) translate(0);
    }
}


/* Thank you */

.thankyou .thankyou-main {
    max-width: 600px;
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
    background: #f9f9f9;
    padding: 40px 50px;
    border: 10px;
}

.thankyou .thankyou-main .thankyou-icon img {
    max-width: 20px;
}

.thankyou .thankyou-main .thankyou-title {
    font-size: 80px;
    color: #002D46;
    font-weight: 600;
    line-height: 110%;
}

.thankyou .thankyou-main .thankyou-message {
    font-size: 18px;
    color: #002D46;
    margin: 20px 0;
}

.thankyou .thankyou-main .thankyou-btn .primary_button {
    margin: 30px auto 0;
}

@media (max-width:1199px) {
    .thankyou .thankyou-main {
        padding: 30px 15px;
    }
    .thankyou .thankyou-main .thankyou-title {
        font-size: 50px;
    }
}

@media (max-width:767px) {
    .thankyou .thankyou-main {
        padding: 20px 15px;
    }
    .thankyou .thankyou-main .thankyou-title {
        font-size: 40px;
        margin-top: 10px;
    }
    .thankyou .thankyou-main .thankyou-message {
        font-size: 16px;
        color: #000;
        margin: 10px 0;
    }
}


/* 404 s */

.not-found-page {
    padding: 30px 0;
    background-image: url(../images/common-bg.png);
    background-size: cover;
}

.not-found-page .error-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.not-found-page .error-center .left-side {
    padding-right: 80px;
}

.not-found-page .error-center .right-side .title {
    color: #c79a44;
    font-size: 100px;
    line-height: 140%;
}

.not-found-page .error-center .right-side .title span {
    font-size: 20px;
    display: block;
    line-height: 100%;
    color: #002236;
}

.not-found-page .error-center .right-side .error-desc {
    font-size: 16px;
    color: #002236;
    max-width: 450px;
    margin: 30px 0;
    font-weight: 500;
}

@media(max-width:1199px) {
    .not-found-page .error-center .right-side .title {
        font-size: 80px;
    }
    .not-found-page .error-center .right-side .error-desc {
        margin: 20px 0;
    }
    .not-found-page .error-center .left-side {
        padding-right: 30px;
    }
}

@media(max-width:567px) {
    .not-found-page .error-center {
        flex-direction: column;
    }
    .not-found-page .error-center .right-side {
        text-align: center;
    }
    .not-found-page .error-center .left-side {
        padding-right: 0;
        max-width: 80px;
    }
    .not-found-page .error-center .right-side .title span {
        font-size: 16px;
    }
    .not-found-page .error-center .right-side .error-desc {
        font-size: 14px;
    }
    .not-found-page .error-center .right-side .error-btn .second-btn {
        margin: 0 auto;
    }
}


/* 404 E */


/* checkout s */

.checkout-main .contact-inner-main {
    justify-content: space-between;
}

.checkout-main .con-form {
    padding: 40px;
    max-width: 50%;
    margin: 0 20px;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.checkout-main .contact-detail {
    margin: 0;
    max-width: 50%;
    width: 100%;
}

.checkout-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.checkout-list li .desc {
    font-size: 14px;
    max-width: 220px;
}

.checkout-list li+li {
    border-top: 1px solid #f2f2f2;
}

.checkout-list li span {
    color: #002D46;
    font-size: 14px;
    font-weight: 500;
}

.checkout-list li span.final-total {
    font-size: 18px;
    color: #C79A44;
    font-weight: 600;
}

.payment-types .radio {
    padding: 10px 20px;
    border-bottom: 1px solid #f2f2f2;
}

.payment-types .radio label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.payment-types .small-desc {
    font-size: 12px;
}

.top-link {
    margin-bottom: 40px;
}

.top-link a {
    color: #C79A44;
    font-weight: 500;
}

.checkout-main .desc p {
    font-size: 14px;
}

.checkout-main .desc a {
    color: #C79A44;
    font-weight: 500;
}

@media(max-width:1199px) {
    .checkout-main .contact-detail .common-logo-box {
        display: none;
    }
    .checkout-main .contact-inner-main {
        padding: 30px 20px;
    }
    .checkout-main .con-form {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .checkout-main .contact-detail {
        max-width: 100%;
        padding-top: 30px;
    }
}

@media(max-width:767px) {
    .checkout-main .contact-inner-main {
        padding: 30px 10px;
    }
}


/* checkout E */